<mat-toolbar>
    <div>
        <button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Air Watch</a>
    </div> 
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf='!authService.isloggedin'>
                <a routerLink="/register">Sign Up</a>
            </li>
            <li *ngIf='!authService.isloggedin'>
                <a routerLink="/login">Sign In</a>
            </li>
            <li *ngIf='authService.isloggedin'>
                <a (click)="loggingOut()">
                    <mat-icon>logout</mat-icon>
                </a>
            </li>
        </ul>         
    </div>
</mat-toolbar>