<mat-toolbar color="primary">
    <!-- <div>
        <button mat-icon-button (click)="onToggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <div>
        <a routerLink="/home">Air Watch</a>
    </div> 
    <div fxFlex fxLayout fxLayoutAlign="end">
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li *ngIf='!authService.isloggedin'>
                <a routerLink="/register">Register</a>
            </li>
            <li *ngIf='!authService.isloggedin'>
                <a (click)="loggingOut()">Login</a>
            </li>
            <li *ngIf='authService.isloggedin'>
                <a>LogOut</a>
            </li>
        </ul>         
    </div>
</mat-toolbar>