.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    position: -webkit-sticky;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}