<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()">
        <mat-icon>dashboard</mat-icon><span class="nav-caption">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/subscription" (click)="onSidenavClose()">
        <mat-icon>notifications</mat-icon><span class="nav-caption">Subscribe</span>
    </a>
</mat-nav-list>