.example-card {
  width: 500px;
  align-self: center;
}

.mat-card-title {
  padding-top: 10px;
}

.warning {
  margin-top: 16px;
  margin-left: 50px;
}

table {
  width: 100%;
}

.elem {
  position: absolute;
  right: 20px;
}


