.example-card {
  width: 300px;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 1em;
}

.elem {
  position: absolute;
  right: 20px;
}
.mat-toolbar {
  background: #2e4055;
  color: #fff;
  list-style-type: none;
}
ul{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.favouritesheader {
  text-align: center;
}

/* #footer {
  position: fixed;
} */