.example-card {
  width: 300px;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 1em;
}

.elem {
  position: absolute;
  right: 20px;
}