.example-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-row: 2/3;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-cont {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 1fr 1fr 1fr 10px;
  justify-items: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}
.mat-toolbar {
  background: #2e4055;
  color: #fff;
}
ul{
  list-style-type: none;
}