/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; margin:0 }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color:white;
   background-image: url("src\assets\background_img\background-img.jpg");
   /* overflow: hidden; */
 }

 